.zxm_image_wrap {
  position: relative;
  margin-bottom: 10px;
  .zxm_image_inner {
    position: relative;
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .hidden {
      opacity: 0;
    }
    .zxm_image_pre {
      opacity: 1;
      // filter: blur(1px);
      transition: filter 1s ease-in-out;
    }
    .zxm_image_pre.loaded {
      // filter: blur(0);
    }
    .zxm_image_next {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
    .zxm_image_next.loaded {
      opacity: 1;
    }
  }
}
